<div class="document-list-wrapper container-fluid">
    <div class="row filter-container">
        <div *ngFor="let filter of filters" class="col-2 d-none dateContainer" [ngClass]="isFlag ? 'd-block' : ''">
            <div class="dateFilter"><span class="black" (click)="filter.showFilterBox = !filter.showFilterBox; showFilterBox(filter)">{{filter.name}}: <span class="blue" *ngIf="filter.filterExp">{{filter.filterExp}}</span>
            </span>
                <span (click)="removeFilter(filter)" class="DateCross">X</span>
                <div class="dateFilterForm" *ngIf="filter.showFilterBox">
                    <div class="row" *ngIf="filter.name == 'Created By'">
                        <dx-list
                        [dataSource]="createdByList"
                        [selectionMode]="selectionModeValue"
                        [selectAllMode]="selectAllModeVlaue"
                        displayExpr="createdBy"
                        valueExpr="createdBy"
                        [showSelectionControls]="true"
                        [selectedItemKeys]="selectedCreatedByList"
                        (onSelectionChanged)=onSelectionChanged($event)
                        >

                        </dx-list>
                        <div class="col-12" *ngIf="notSelected">
                            <span class="error-box"><i class="fa fa-exclamation-circle red" aria-hidden="true"></i> Please make a valid selection.</span>
                        </div>
                    </div>
                    <div class="button-container clearfix">
                        <div class="button-box">
                            
                            <button class="btn btn-default" (click)="cancelFilter(filter)">Cancel</button>
                            <button class="btn btn-primary" (click)="applyFilter(filter)">Apply</button>
                            
                        </div>
                    </div>

                </div>
                </div>
        </div>
        <div class="col-1">
            <div class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="pl-0 btn dropdown-toggle"
                                       aria-controls="dropdown-basic" (click)="openFilter()"> + Filter </button>
                <div #dropdownList id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
                <span class="cross" (click)="isFlag == true;removeClass()"><i class="fa fa-times" aria-hidden="true"></i></span>
                    <ul>
                        <li role="menuitem" *ngFor="let filterI of filterItem" (click)="filterBlock(filterI)"><a class="dropdown-item" >{{filterI.name}}</a></li>
                       
                        
                      </ul>
                </div>
            </div> 
        </div>
    </div>
    <div class="grid-container">
        <div class="row">
            <div class="col-3 table-title">3020 Applications</div>
            <div class="col-6">
                <div class="admin-serach-container">
                    <div class="input-group input-group-search">
                        <label for="grid-search" class="sr-only"></label>
                        <div class="reset-field">
                            <input class="form-control grid-search"
                                   placeholder="Search by Deal Number,Borrower's Name,MRID"
                                   type="text" />
                            <!-- <i class="clear-search fa fa-remove"></i> -->
                        </div>
                        <span class="input-group-btn advisor-panel-search">
                            <button class="btn text-search-button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <span class="normal-subText">All “In Progress” records will get unlocked after 30 minutes of no activity.</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <dx-data-grid
                    #gridContainer
                    id="gridContainer"
                    class="gridContainerPL"
                    [dataSource]="dataSource" 
                    [showColumnLines]="false"
                    [showRowLines]="true"
                    [showBorders]="true"
                    [rowAlternationEnabled]="false"
                    [columnAutoWidth]="true"
                    [allowColumnResizing]="true" 
                    (onOptionChanged)="checkPageSize($event)"
                    (onContentReady)="onContentReady($event)"
                >
                <dxo-paging [pageSize]="25"></dxo-paging>
                <dxo-pager 
                    [visible]="totalCount > 25 ? true : false"
                    [showPageSizeSelector]="true"
                    [allowedPageSizes]=allowedPages
                    [showInfo]="true"
                    [showNavigationButtons]="true">
                </dxo-pager>
                <!-- <dxo-header-filter [visible]="true"></dxo-header-filter> -->
                <dxo-remote-operations
                    [paging]="true"
                >
                </dxo-remote-operations>

                <dxi-column [allowFiltering]="false"
                    [allowSorting]="false"
                    dataField="advisorTeamName"
                    caption="Advisor/Team Name"
                    alignment="left"
                cellTemplate="rowNameNPV">
            <div *dxTemplate="let rnpv of 'rowNameNPV'">
                <strong title="{{rnpv.data.advisorTeamName}}" class="column-one grid-color">{{ rnpv.data.advisorTeamName }}</strong>
            </div>
        </dxi-column>
        <dxi-column [allowFiltering]="false"
            [allowSorting]="false"
            dataField="crd"
            caption="CRD"
            alignment="right">
        </dxi-column>
        <dxi-column [allowFiltering]="false"
                [allowSorting]="false"
                dataField="priorFirmType"
                caption="Prior Firm Type"
                alignment="left">
        </dxi-column>
        <dxi-column [allowFiltering]="true"
                [allowSorting]="false"
                dataField="vaum"
                caption="VAUM"
                format="currency"
                alignment="right"
                >
                
        </dxi-column>
        <dxi-column [allowFiltering]="false"
                [allowSorting]="false"
                dataField="taAmount"
                caption="TA Amount"
                format="currency"
                alignment="right">
        </dxi-column>
        <dxi-column [allowFiltering]="false"
                [allowSorting]="false"
                dataField="numberOfOffers"
                caption="# of Offers"
                alignment="right">
        </dxi-column>
        <dxi-column [allowFiltering]="false"
                [allowSorting]="false"
                dataField="createDate"
                caption="Created Date"
                dataType="date"
                format="MM/dd/yyyy" 
                alignment="right">
        </dxi-column>
        <dxi-column [allowFiltering]="false"
                [allowSorting]="false"
                dataField="createdBy"
                caption="Created By"
                alignment="left">
        </dxi-column>
                </dx-data-grid>
            </div>
        </div>
    </div>
</div>